# Auto detect text files and perform LF normalization
# http://davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
* text=auto
 
# override auto behaviour (LF) for windows files
*.cmd     text eol=crlf
*.bat     text eol=crlf
*.ps1     text eol=crlf

# Force bash scripts to always use lf line endings so that if a repo is accessed
# in Unix via a file share from Windows, the scripts will work.
*.sh      text eol=lf 
*.bash    text eol=lf
gradlew   text eol=lf

